    <!-- <div class="productos-test">
        ¡Si ves esto en rojo, el CSS está funcionando!
    </div> -->
    <!-- TITULO BIENVENIDA -->
    <div id="products" class="screen container-fluid py-3">
        <div class="row mb-4">
            <div class="col-12 text-center text-md-start">
                <h2 class="display-5 mb-2">Nuestros productos</h2>
                <p class="lead">Hola <span class="fw-bold text-primary"><%= userName %></span>, estos son nuestros productos disponibles para vos:</p>
            </div>
        </div>

        <!-- FILTROS -->
        <div class="row mb-4">
            <div class="col-12">
                <div class="d-flex flex-wrap justify-content-center justify-content-md-start gap-2">
                    <button class="btn btn-outline-primary me-2 active" data-categoria="todos">Todos</button>
                    <button class="btn btn-outline-primary me-2" data-categoria="juego-digital">Juegos</button>
                    <button class="btn btn-outline-primary" data-categoria="dispositivo">Dispositivos</button> 
                </div>
            </div>
             
        </div>

        <!-- CATEGORIA JUEGOS -->
        <div id="juego-digital-category" class="category-section mb-5 juego-digital-category">
            <div class="row">
                <div class="col-12"> 
                    <h3 class="category-title mb-4">
                        <i class="fas fa-compact-disc me-2"></i> Juegos
                    </h3>
                </div>
            </div>
            
            <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-lg-4 g-4" id="gamesContainer">
                <!-- ACA SE CARGAN LOS JUEGOS DINAMICAMENTE -->
            </div>
        </div>

        <!-- CATEGORIA CONSOLAS -->
        <div id="dispositivo-category" class="category-section mb-5 dispositivo-category" >
            <div class="row">
                <div class="col-12">
                     <h3 class="category-title mb-4">
                        <i class="fas fa-tv"></i> Consolas
                    </h3>
                </div>
            </div>
           
            <div class="row row-cols-1 row-cols-md-2 row-cols-lg-3 g-4" id="consolesContainer">
                <!-- Y ACA SE CARGAN LAS CONSOLAS DINAMICAMENTE -->
            </div>
        </div>

        <!-- CARRITO -->
        <div class="col-12">
            <div>
                <%- include('carrito')  %>
            </div>
        </div>
    </div>

    <script src="/Scripts/productos.js" type="module"> </script>
    

    

