:root {
    --primary-color: #1A2779;
    --secondary-color: #EEE5E9;
    --accent-color: #92DCE5 ;
    --dark-bg: #E8B94D;
}

body {
    background: linear-gradient(135deg, #667eea 0%, #764ba2 100%);
    min-height: 100vh;
    /* font-family: Voltarie, sans-serif; */
}

.navbar-brand {
    font-weight: bold;
    font-size: 1.5rem;
    color: var(--primary-color) !important;
}

.navbar-nav .nav-link {
    color: var(--primary-color) !important;
    font-weight: 500;
    margin: 0 10px;
}

.navbar-nav .nav-link:hover, .navbar-nav .nav-link.active {
    color: var(--accent-color) !important;
}


.logo {

}

.main-container {
    background: var(--secondary-color);
    border-radius: 15px;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
    margin: 20px auto;
    padding: 30px;
}

.screen {
    display: none;
}

.screen.active {
    display: block;
}

