<div class="dashboard">

    <div class="admin-actions">
        <h2>Panel de Administración</h2>
        <button id="btnAddProduct">
            <i class="fas fa-plus-circle"></i>Agregar Producto</button>
    </div>

    <!-- Lista de productos -->
    <div class="container-fluid">
        <div class="row" id="productGrid">
            <!-- SE CARGAN LOS PRODUCTOS DINAMICAMENTE -->
        </div>
    </div>
</div>